//header.scss
.header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @include flexBox(row, center, space-between);
  padding: 1rem 3rem;
  width: 100%;
  > div {
    h2 {
      @include styledText(1.5rem, 600, capitalize, $primary-color);
    }
  }
  > article {
    @include flexBox(row, center, flex-end, 1rem);
    > a {
      @include styledText(0.9rem, 600);
      @include myButton(auto, 0.5rem 1rem, $secondary-color);
    }
  }
}
