.login > section {
  @include container(800px, unset, 2rem);
  min-height: 80%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: $shadow;

  > form {
    @include flexBox(column, center, flex-start, 1.5rem);
    @include inputs;
    h2 {
      @include styledText(2rem, 600, capitalize, $primary-color);
      margin-bottom: 1rem;
    }
    button {
      @include styledText(0.9rem, 600);
      @include myButton(100%, 0.75rem);
    }
  }
}
